.btn {
    height: 25px;
    width: 150px;
    font-size: 20px;
    text-align: center;
    padding: 10px 10px;
    background-color: #89ca62;
    border-radius: 10px;
    margin: 50px auto 50px;
    cursor: pointer;
}

.input-field {
    font-size: 18px;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    margin-left: 20px;
    border: solid 4px rgba(0,0,0,0);
    outline: none;
}

.green-border {
    border: solid 4px green;
}

.red-border {
    border: solid 4px red;
}

.input-wr {
    font-size: 18px;
    color: #0C213B;
    padding: 20px;
    margin: 0 auto;
    background-color: #89ca62;
    width: 500px;
    border-radius: 10px;
}

.circle-item {
    margin: 0 2px;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
}

.container {
    margin: 0 auto;
}