.nav-bar.dark {
    background-color: rgba(0, 0, 0, 0.8);
}

.text-block.dark {
    background-color: #CBCB73;
    color: white;
}

.footer.dark {
    background-color: rgba(0, 0, 0, 0.8);
    color: #E2C6C6;
}