.images-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.back-img {
    width: 400px;
    height: 400px;
    opacity: 0;
}

.image-to-show {
    position: relative;
    opacity: 1;
    animation: move 5s linear;
}

.fix-img {
    position: relative;
    opacity: 1;
    transform: scale(1.5);
    left: calc(50% - 200px);
}

.del-fix-img {
    position: relative;
    opacity: 1;
    animation: del 5s linear;
}

@keyframes del {
    0% {
        opacity: 1;
        transform: scale(1.5);
        left: calc(50% - 200px);
    }
    80% {
        opacity: 1;
        transform: scale(1.5);
        left: calc(50% - 200px);
    }
    100% {
        opacity: 0;
        transform: scale(1);
        left: calc(100% - 400px);
    }
}

@keyframes move {
    0% {
        opacity: 0;
        transform: scale(1);
        left: 0;
    }
    20% {
        opacity: 1;
        transform: scale(1.5);
        left: calc(50% - 200px);
    }
    80% {
        opacity: 1;
        transform: scale(1.5);
        left: calc(50% - 200px);
    }
    100% {
        opacity: 0;
        transform: scale(1);
        left: calc(100% - 400px);
    }
}

.btn-wr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: white;
    text-align: center;
}

.btn {
    height: 50px;
    width: 200px;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
}

.mr-top {
    margin-top: 13px;
    display: inline-block;
}