.container {
    font-family: Verdana;
    margin: 0 auto;
    width: 500px;
    background-color: #e3e3e3;
}

.input-field {
    font-size: 18px;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    margin-left: 20px;
    border: solid 4px rgba(0,0,0,0);
    outline: none;
}

.green-font {
    color: green;
}

.green-border {
    border: solid 4px green;
}

.red-border {
    border: solid 4px red;
}

.input-wr {
    font-size: 18px;
    color: #0C213B;
    padding: 20px 0 20px 80px;
    margin: 0;
}

.spn {
    display: inline-block;
    position: relative;
    color:#0C213B;
    padding: 8px 40px 8px 10px;
    border: solid 2px #f9f7f7;
    border-radius: 18px;
}

.spn-wr {
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.close {
    background-image: url("../img/cross.png");
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 3px;
    right:5px;
    width: 25px;
    height: 25px;
    border: solid 1px #f9f7f7;
    border-radius: 14px;
    cursor: pointer;
}

.not-valid-data {
    font-size: 18px;
    margin-left: 80px;
    padding-bottom: 10px;
}