body {
    background: #F4F1F8;
}
table {
    margin: 50px auto;
    border-collapse: collapse;
    line-height: 1.1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background: #DCECF8;
    color: #0C213B;
}
caption {
    font-family: annabelle, cursive;
    font-weight: bold;
    font-size: 2em;
    padding: 10px;
    color: #F3CD26;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}
caption:before, caption:after {
    content: "\274B";
    color: #A9E2CC;
    margin: 0 10px;
}
th {
    padding: 10px;
    border: 1px solid #A9E2CC;
}
td {
    font-size: 0.8em;
    padding: 5px 7px;
    border: 1px solid #A9E2CC;
}
.first {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}